$primary : #09e85e;
$secondary : #EFF4F3;
$info : rgb(22, 193, 114);
$warning: #131A4F;
$border-radius: 0.1rem;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 4.5,
        7: $spacer * 9,
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.staff-card {

}
.card-img-overlay{
  display: none;
}
  .staff-card:hover .card-img-overlay {
    display: block;

  }



